<div id="homebody">
<div class="myleadership">
<h1>Competency Library</h1>
</div>
<br>
<h3 align="center"><b>PERSONAL LEADERSHIP</b></h3><br>
<div class="homebody">
		<div class="homesection complib">
					<a href="#/sa"  style="cursor: pointer;">
				<img src="../styles/library/sa.jpg" alt="" />
				Self Awareness
			</a>
		</div>
		<div class="homesection complib">
			<a href="#/il">
				<img src="../styles/library/il.jpg" alt="" />
				Intentional Learner
			</a>
		</div>
		<div class="homesection complib">
			<a href="#/ec">
				<img src="../styles/library/ec.jpg" alt="" />
				Effective Communication
			</a>
		</div>
		</div>
		<h3 align="center"><b>RELATIONAL LEADERSHIP</b></h3><br>
		<div class="homebody">
		<div class="homesection complib">
			<a href="#/rd" style="cursor: pointer;">
				<img src="../styles/library/rd.jpg" alt="" />
			Relational Development
			</a>
		</div>

		<div class="homesection complib">
			<a href="#/dd">
				<img src="../styles/library/dd.jpg" alt="" />
				Diversity & Differences
			</a>
		</div>
		<div class="homesection complib">
			<a href="#/el">
				<img src="../styles/library/el.jpg" alt="" />
				Engaging Leadership
			</a>
		</div>
	</div>
	<h3 align="center"><b>FUNCTIONAL LEADERSHIP</b></h3><br>
	<div class="homebody">
		<div class="homesection complib">
			<a a href="#/dl" style="cursor: pointer;">
				<img src="../styles/library/dl.png" alt="" />
				Directive Leadership
			</a>
		</div>

		<div class="homesection complib">
			<a href="#/cep">
				<img src="../styles/library/cep.png" alt="" />
				Champions Effective Processes
			</a>
		</div>
		<div class="homesection complib">
			<a href="#/ps">
				<img src="../styles/library/ps.jpg" alt="" />
				Problem Solving
			</a>
		</div>
		</div>
		<h3 align="center"><b>LEADING IN CONTEXT</b></h3><br>
		<div class="homebody">
		<div class="homesection complib">
			<a a href="#/sp"  style="cursor: pointer;">
				<img src="../styles/library/sp.jpg" alt="" />
				Strategic Perspective
			</a>
		</div>

		<div class="homesection complib">
			<a href="#/ei">
				<img src="../styles/library/ei.jpg" alt="" />
				Ethics & Integrity
			</a>
		</div>
		<div class="homesection complib">
			<a href="#/is">
				<img src="../styles/library/is.jpg" alt="" />
				Innovative Spirit
			</a>
		</div>
	</div>
