<div ng-controller="ProfileController as ctrl" ng-init=init()>
	<div id="homebody">
		<div class="homeheader">
			<div class=homeheadercontainer>
				<div class="lvpane">
					<img src="../styles/small8.jpg">
				</div>
				<div class="rvpane">
					<img src="../styles/small4.jpg">
				</div>
				<div>
					<ul>
						<li>
							<img src="../styles/small3.jpg" alt="" />
						</li>
						<li>
							<img src="../styles/small1.jpg" alt="" />
						</li>
						<li>
							<img src="../styles/small2.jpg" alt="" />
						</li>
						<li>
							<img src="../styles/small5.jpg" alt="" />
						</li>
						<li>
							<img src="../styles/small7.jpg" alt="" />
						</li>
					</ul>
					<div>
						<h2>Welcome to the Hart Leadership and Career Development Portal</h2>
						<p align="justify">The Hart Center for Engineering Leadership strives to shape you into exceptionally successful engineers. The Hart Center's assessment, challenge, and support approach to leadership development helps prepare you for the real business of engineering, by giving you the tools you need for the college to career transition and encouraging lifelong personal and professional growth.
						The Hart Leadership and Career Development Portal serves as your personal learning and action plan platform. The portal includes your assessment, leadership development action plan and progress as well as career planning tools.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="homebody">
			<div class="homesection">
				<a ng-click="leadership()" style="cursor: pointer;">
					<img src="../styles/Assessments.png" alt="" />
					My Leadership
				</a>
			</div>

			<div class="homesection">
				<a href="#/complibrary">
					<img src="../styles/Competencylibrary.png" alt="" />
					Competency Library
				</a>
			</div>
			<div class="homesection">
				<a href="#/career">
					<img src="../styles/careersmall.png" alt="" />
					Career Development
				</a>
			</div>
			<div class="homesection">
				<a href="#/Certification">
					<img src="../styles/certification.png" alt="" width=128 height=128 />
					Hart Leadership Certification
				</a>
			</div>
		</div>
		<div class="homefooter">
			<div class="homesection">

				<a href="#/LeadershipFramework">
					<h3>
						<b>Leadership Framework</b>
					</h3>
				</a>

				<ul>
					<li>
						<p>The Hart Leadership Framework-our guide to leadership and professional development-emphasizes these key elements of leadership growth:</p>

						<b>Personal, Relational, Functional & Contextual</b>
						<br>
						<a href="#/LeadershipFramework">Click Here </a>
						to learn more..

					</li>
					<li>
						<p>
							<i>"A Leader is someone people choose to follow" - Minch Hart, Founder, Hart Center</i>
						</p>

					</li>

				</ul>
			</div>
			<div class="featured">
				<ul>
					<div class="article">
						<img src="../styles/approach.png" alt="" />
						<h3>
							<b>OUR APPROACH</b>
						</h3>
						<p align="justify">After a two-year partnership with the Center for Creative Leadership, the Hart Center adopted a Leadership and Professional Development Model that is interconnected and is a continuous cycle for improvement. It is process and outcome oriented, focuses on the environment, and applies to individuals and teams. It includes three key elements: Assessment, Challenge, and Support.</p>
					</div>
				</ul>
			</div>
			<div class="homesection">
				<a href="#/LeadershipAssessmentInfo">
					<h3>
						<b>Leadership Assessment</b>
					</h3>
				</a>
				<ul>
					<li>
						<p>The Hart Leadership Assessment is a self-assessment that can be taken at the beginning of a student's first year and reveals a student's baseline leadership strengths and areas for growth. We help students review and analyze results, then customize a Personal Development Plan.</p>
						<br>
						<a href="#/LeadershipAssessmentInfo">Click Here </a>
						to learn more..
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="homefooter">
		<div></div>
		<div></div>
	</div>
</div>
