<div id="homebody">
<div class="myleadership">
<h1>Hart Leadership Framework</h1>
</div>
</div>
<div class="result-page" style="height: 1400px" >
<h1 align="center" ><img src="../styles/hartlogo.png" width="500" height="400" align="middle"></h1>

The Hart Leadership Framework - our guide to leadership and professional development - emphasizes these key elements of leadership growth:

<li><ul>Personal</ul></li>
<li><ul>Relational</ul></li>
<li><ul>Functional</ul></li>
<li><ul>Contextual</ul></li>


Personal Leadership </b> forms the foundation, or base of the arch.The left side of the arch symbolizes <b> Relational Leadership </b> and the right  side of the arch represents <b> Functional Leadership. </b>
The  keystone, or top of the arch, represents <b> Leading in Context. </b>
<br><br>
<div class="small-heading">
Personal Leadership - Self-Awareness, Intentional Learner, and Communicates Effectively <br>
</div><br>
<b>A Good Personal Leader:</b><br>

<b>Is Self-Aware:</b> Exhibits knowledge of personal values, strengths, shortcomings, and developmental opportunities. Uses self-assessment strategies to inform personal growth and development.<br>

<b>Learns Intentionally:</b> Has knowledge of personal learning style and leverages this knowledge to enhance personal performance, knowledge of self, others, and leadership ability.<br>

<b>Communicates Effectively:</b> Has the ability to communicate effectively through a variety of methods and media and within a range of contexts.<br>
<br>
<div class="small-heading">
Relational Leadership - Develops Relationships, Diversity and Difference, and Engaging Leadership <br>
</div><br>
<b>A Good Relational Leader:</b><br>

<b>Develops Relationships:</b> Creates a positive, welcoming environment; sees issues from multiple points of view; and builds effective inter- and intra-group relationships.<br>

<b>Embraces Diversity & Differences:</b> Recognizes the value of different perspectives, skillsets, and people; is able to facilitate productive outcomes in diverse groups.<br>

<b>Engages Others:</b> Enables others to step up and lead; creates conditions for others to shine; generates collective commitment and learning.<br>
<br>
<div class="small-heading">
Functional Leadership - Directive Leadership, Champions Effective Processes, and Problem Solving <br>
</div><br>
<b>A Good Functional Leader:<br>

Sets Direction:</b> Coordinates members and maintains accountability for effective outcomes. Sets direction, communicates expectations, and monitors progress.<br>

<b>Champions Effective Processes:</b> Establishes systems and processes that facilitate efficient and effective outcomes.<br>

<b>Solves Problems:</b> Facilitates effective problem identification and solving strategies; identifies and cultivates resources; delivers results.<br>

<br>
<div class="small-heading">
Leading in Context - Strategic Perspective, Ethics and Integrity, and Innovative Spirit <br> <br>
</div><br>
<b>A Good Contextual Leader:<br>

Seeks Innovative Solutions:</b>Displays the courage to initiate positive change, is innovative, and will risk failing in front of peers.<br>

<b>Upholds Ethics & Integrity:</b> Knowledgeable of and committed to a meaningful set of ethical guidelines and principles. Actions are consistent with personal values.<br>

<b>Keeps Strategic Perspective:</b> Able to evaluate issues from multiple perspectives and identify the core problem; considers options and trade-offs; makes effective use of resources.<br>


</div>

