<div ng-controller="AssessmentController as ctrl" ng-init="init()">
  <div id="homebody">
    <div class="myleadership">
      <h1>My Leadership Dashboard</h1>
    </div>
  </div>
  <div class="progress" style="width: 70%; margin-left: 15%">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="10"
      style="width: 30%;">My Leadership Certification Progress (30%)</div>
  </div>
  <div id=leadership>
    <div class=profilepage>
      <div class="galileo   fb-body   droid  locale-en_US  ">
        <div id="container" class=" ">
          <div id="content">
            <div id="contentHead" class="clearfix" style="position: relative; z-index: 0;">
              <div id="profileInfo" style="width: 1000px;">
                <div class="username">
                  <h2>Hello {{profileInfo.firstName}},</h2>
                </div>
                <div class="wrapper-user-photos clearfix">
                  <div class="photo-primary" id="profilePhotoPlaceholder">
                    <div class="profileImageContainer">
                      <label for="newPhotoInput" class="js-image-uploader-trigger">
												<span style="height: 125px; width: 125px;" class="profilePhoto large">
													<img class="profileImage" alt="" title="" src="../styles/profile.png" ng-src="{{profilepic}}" height="200" width="200">
												</span>
											</label>
                    </div>
                  </div>
                </div>
                <div class="wrapper-user-details" id="profileData">
                  <div class="username">
                    <div class=WordSection_table>
                      <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 width=500 style='width: 486.3pt; margin-left: -36.55pt; background: #E8E8E8; border-collapse: collapse; border: none'>
                        <tr style='height: 18.1pt'>
                          <td width=181 valign=top style='width: 135.4pt; border: solid windowtext 1.0pt; background: #619f42; padding: 0in 5.4pt 0in 5.4pt; height: 18.1pt'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #2F5496'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #FFFFFF'>PERSONAL LEADERSHIP</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #2F5496'>&nbsp;</span>
															</b>
                            </p>
                          </td>
                          <td width=162 valign=top style='width: 121.4pt; border: solid windowtext 1.0pt; border-left: none; background: {{SA_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black';>Self-Awareness</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{IL_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Intentional&nbsp;Learning</span>
															</b>
                            </p>
                          </td>
                          <td width=143 valign=top style='width: 107.4pt; border: solid windowtext 1.0pt; border-left: none; background: {{C_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Communication</span>
															</b>
                            </p>
                          </td>
                        </tr>
                        <tr style='height: 37.05pt'>
                          <td width=181 valign=top style='width: 135.4pt; border: solid windowtext 1.0pt; background: #354ca1; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 37.05pt'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #2F5496'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #FFFFFF'>RELATIONAL LEADERSHIP</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{DR_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Develops&nbsp;Relationships</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{DD_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Diversity&nbsp;Difference</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{EL_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Engaging&nbsp;Leadership</span>
															</b>
                            </p>
                          </td>
                        </tr>
                        <tr style='height: 37.05pt'>
                          <td width=200 valign=top style='width: 145.4pt; border: solid windowtext 1.0pt; background: #f99b2a; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 37.05pt'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #2F5496'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #FFFFFF'>FUNCTIONAL LEADERSHIP</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{DL_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Directive&nbsp;Leadership</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{CEP_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Champions Effective Processes</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{PS_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Problem Solving</span>
															</b>
                            </p>
                          </td>
                        </tr>
                        <tr style='height: 37.05pt'>
                          <td width=181 valign=top style='width: 135.4pt; border: solid windowtext 1.0pt; background: #cc0000; border-top: none; padding: 0in 5.4pt 0in 5.4pt; height: 37.05pt'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #2F5496'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: #FFFFFF'>CONTEXTUAL LEADERSHIP </span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{SP_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Strategic Perspective</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{EI_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Ethics & Integrity</span>
															</b>
                            </p>
                          </td>
                          <td width=163 valign=top style='width: 122.1pt; border: solid windowtext 1.0pt; border-left: none; background: {{IS_backcolor}}'>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>&nbsp;</span>
															</b>
                            </p>
                            <p class=MsoNormal align=center style='margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal'>
                              <b>
																<span style='color: black'>Innovative Spirit</span>
															</b>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!-- 	<img src="../styles/Hart.png" style=" padding-left: 89px;padding-top: 0px;"> -->
                  </div>
                  <ul class="user-stats">
                    <!-- <li class="user-stat gender">&nbsp;&nbsp;SMU ID : {{profileInfo.smuId}}</li> -->
                  </ul>
                </div>
              </div>
              <div class="user-photo-links" style="padding-top: 10px;">
                <ul id="pictureStreamLinksOnProfile">
                  <li>
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#profilePicUploadModal"> Update Profile Picture </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clearfix">
              <div id="devprogressNav" style="float: left; width: 100%;">
                <ul style="float: left;">
                  <li style="margin: 0;">
                    <span> My Leadership Profile </span>
                  </li>
                </ul>
              </div>
              <div id="devprogressNav" style="float: left; width: 100%;">
                <ul style="float: left;">
                  <li style="margin: 0px;">
                    <span> </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="contentBody" class="clearfix">
              <div id="modules" class="clearfix">
                <div class="module firstModule clearfix">
                  <div class="dateHeader">
                    <div class="title">
                      <h2>My Leadership Development</h2>
                    </div>
                  </div>
                  <h2 ng-show="profileInfo.addedcompetency==1 && profileInfo.surveyStatus==3">
                    <i>&nbsp Currently you are working on :</i>
                    <b>
											{{profileInfo.competency1}}
											<!--  & {{profileInfo.competency2}} -->
										</b>
                  </h2>
                  <h2 ng-show="profileInfo.surveyStatus==1||profileInfo.surveyStatus==2">
                    <i>&nbsp Please complete the Hart Leadership Assessment to view your leadership profile</i>
                    <b>
											{{profileInfo.competency1}}
											<!--  & {{profileInfo.competency2}} -->
										</b>
                  </h2>
                  <div class="content firstBlock">
                    <img class="photo" src="../styles/hartlogo.png" width="550">
                  </div>
                </div>
                <div class="module firstModule clearfix">
                  <div class="dateHeader">
                    <div class="title">
                      <h2>My Leadership Competencies- sorted by Strength</h2>
                    </div>
                  </div>
                  <div class="content firstBlock" ng-show="hasgivensurvey==1">
                    <!-- <h2>Currently you are working on
									<b>"Personal Leadership"</b>
								</h2><br> -->
                    <!-- <h2>
											Your selected competencies are :
											<b> {{profileInfo.competency1}} & {{profileInfo.competency2}}</b>
										</h2> -->
                    <!-- <img class="photo" src="../styles/compgraph.jpg" width="550"> -->
                    <svg width="1000" height="900" style="overflow: hidden;" viewBox="100 0 1400 1000" preserveAspectRatio="none">
                      <rect x="115" y="71" width="1" height="527" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <rect x="255" y="71" width="1" height="527" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <rect x="395" y="71" width="1" height="527" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <rect x="535" y="71" width="1" height="527" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <rect x="675" y="71" width="1" height="527" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <rect x="815" y="71" width="1" height="527" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <rect x="115" y="593" width="700" height="1" stroke="none" stroke-width="0" fill="#cccccc"></rect>
                      <!-- test1 -->
                      <g ng-repeat="ele in bgElements">
                        <rect x="116" ng-attr-y="{{ele.y}}" ng-attr-width="{{ele.width}}" height="33" stroke="none" stroke-width="0" ng-attr-fill="{{ele.color}}"></rect>
                        <text text-anchor="start" x="125" ng-attr-y="{{ele.y+20}}" font-family="Arial" font-size="13" font-weight="bold" stroke="none"
                          stroke-width="0" fill="white">{{ele.text}}</text>
                      </g>

                      <rect x="253" y="108" width="0" height="1" stroke="none" stroke-width="0" fill="#999999"></rect>
                      <rect x="277" y="170" width="0" height="1" stroke="none" stroke-width="0" fill="#999999"></rect>
                      <rect x="413" y="231" width="0" height="1" stroke="none" stroke-width="0" fill="#999999"></rect>
                      <rect x="446" y="293" width="0" height="1" stroke="none" stroke-width="0" fill="#999999"></rect>
                      <text text-anchor="middle" x="115" y="620" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">5</text>
                      <text text-anchor="middle" x="255" y="620" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">8</text>
                      <text text-anchor="middle" x="395" y="620" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">11</text>
                      <text text-anchor="middle" x="535" y="620" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">14</text>
                      <text text-anchor="middle" x="675" y="620" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">17</text>
                      <text text-anchor="middle" x="815" y="620" font-family="Arial" font-size="13" stroke="none" stroke-width="0" fill="#444444">20</text>
                      <rect x="233" y="101.5" width="16" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                      <rect x="258" y="163.5" width="15" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                      <rect x="394" y="224.5" width="15" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                      <rect x="430" y="286.5" width="12" height="13" stroke="none" stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                    </svg>
                    <!-- <h3 align="center">
											<a> Click to view your progress </a>
										</h3> -->
                  </div>
                  <div class="content firstBlock" ng-show="hasgivensurvey==0">
                    <h4>To view your leadership competencies , please take the Hart Leadership Assessment by clicking on 'Take
                      Assessment' menu</h4>
                  </div>
                </div>
              </div>
              <div id="teasers">
                <div class="aboutMe teaser firstTeaser clearfix">
                  <div class="header">My Portfolio</div>
                  <div class="content firstContent">
                    <h4>
                      <a> View & Update your Portfolio</a>
                    </h4>
                  </div>
                  <div class="content firstContent">
                    <h4>
                      <a href="#/MyActionplan">My Action Plan</a>
                      <br>
                    </h4>
                    Your 30 day action plan is due on {{actionplanduedate|date:"MM/dd/yyyy"}}
                  </div>
                </div>
                <div class="teaser clearfix myAchievements">
                  <div class="header">My Achievements</div>
                  <div class="content">
                    <nav class="tabsNav">
                      <ul class="teaserNav globalNav">
                        <li>
                          <img src="../styles/achievement.png" style="padding-left: 25px;">
                        </li>
                        <li class="first">
                          <a class="selected lifetime">
														<span>Current Score : </span>
													</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div style="display: block;" class="teaser module-devplan">
                  <h3 class="header">My Development plan</h3>
                  <div class="content">
                    <ol class="simple">
                      <li class="user">
                        <img class="photo" src="../styles/Competencylibrary.png" alt="" height="40" width="40">
                        <b>Self - Study - 10% </b>
                        <a class="name" href="#/complibrary" style="width: 200px">Library</a>
                      </li>
                      <li class="user">
                        <img class="photo" src="../styles/handshake.png" alt="" height="40" width="40">
                        <b>Learn From Others - 20%</b>
                        <a class="name" href="#/networking" style="width: 200px">Networking</a>
                      </li>
                      <li class="user" ng-show="profileInfo.study==2">
                        <img class="photo" src="../styles/activity.png" alt="" height="40" width="40">
                        <b>Experiences - 70% </b>
                        <a class="name" target="_blank" href="https://www.smu.edu/-/media/Site/Lyle/HCEL/FieldGuides/GRAD-Field-Guide-2016--FINAL-with-cover.ashx?la=en">
														Graduate Field Guide
													</a>
                        <a class="name" target="_blank" href="http://www.engineeringchallenges.org/GrandChallengeScholarsProgram.aspx">
														Lyle Engineering Grand Challenge Scholars
													</a>
                      </li>

                      <li class="user" ng-show="profileInfo.study==1">
                        <img class="photo" src="../styles/activity.png" alt="" height="40" width="40">
                        <a class="name" target="_blank" href="https://www.smu.edu/-/media/Site/Lyle/HCEL/FieldGuides/Final-Undergrad-Field-Guide-Merged-Files-2016-with-cover.ashx?la=en"
                          style="width: 350px">Field Guide Undergraduate - 70%</a>
                      </li>
                    </ol>
                  </div>
                  <div class="footer clearfix">
                    <span>
											<span>
												<span>
													<h2>The 70:20:10 Model for Learning & Development</h2>
													<br>
													<p>The 70:20:10 Model for Learning and Development is a commonly used formula within the training profession to describe the optimal sources of learning by successful managers. It holds that individuals obtain 70 percent of their knowledge from job-related experiences, 20 percent from interactions with others, and 10 percent from formal educational events</p>
												</span>
                    </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="profilePicUploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="status=0">&times;</button>
          <h4 class="modal-title">Update Profile Picture</h4>
        </div>
        <div class="modal-body">
          <div ng-show="status==0">
            <div>
              Select an image file:
              <input type="file" id="fileInput" />
            </div>
            <div class="cropArea">
              <img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
            </div>
            <div>Cropped Image:</div>
            <div>
              <img ng-src="{{myCroppedImage}}" />
            </div>
          </div>
          <div ng-show="status==1" align="middle">
            <img src="../styles/loading.gif" />
          </div>
          <div ng-show="status==2">
            <h4 style="text-align: center; color: Green">
              Uploaded successfully
              </style>
            </h4>
          </div>
          <div ng-show="status==3">
            <h4 style="text-align: center; color: Red">
              {{errorMessage}}
              </style>
            </h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="updateProfilePic()" ng-show="status==0">Update</button>          &nbsp;
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="status=0">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>