<div id="homeheader">
  <div id="logo">
    <a href="index.html">
      <img src="../../styles/logo.jpg" alt="" style="width: 500px;" />
    </a>
  </div>
  <ul>
    <li>
      <a href="#/home">
        <span>home</span>
      </a>
    </li>
    <li>
      <a href="#/assessments">
        <span>Take Assessment</span>
      </a>
    </li>
    <li>
      <a href="#/leadership">
        <span>My leadership</span>
      </a>
    </li>
    <li>
      <a href="#/career">
        <span>Career</span>
      </a>
    </li>
    <li>
      <a href="#/contact">
        <span>contact us</span>
      </a>
    </li>
  </ul>
</div>
<ui-view></ui-view>
