
<div ng-controller="careerController as ctrl" ng-init="init()">
	<div id="homebody">
		<div class="myleadership">
	<h1> Career Development </h1>
		<div>
		<h3> <I>The Hart Center provides a variety of resources to further professional development and research and plan future careers. Please click on the links below to get started:
		</I></h3>

		<span style="font-size: 20px; color: #cc0000; font-weight: bold"> Resume </span>

			<li style="font-size: 15px"> <a href="/resume.pdf" target="_blank"> Sample Resume </a></li>
			<img src="../styles/career.jpg" style="float: right;" height="350px" width="700px">
			<li style="font-size: 15px">
			<a href="https://www.smu.edu/-/media/Site/Lyle/HCEL/Resume-Podcast-1-Edited.ashx?la=en" target="_blank">
			Video (Formatting your resume) </a></li><br>


		<span style="font-size: 20px; color: #cc0000;">
		<a href="http://www.learnhowtobecome.org/ultimate-linkedin-guide/" target="_blank"> Ultimate LinkedIn Guide </a></span><br><br>

		<span style="font-size: 20px; color: #cc0000;">
		<a href="http://www.smu.edu/StudentAffairs/career/" target="_blank"> Hegi Family Career Development Center </a></span><br><br>

		<span style="font-size: 20px; color: #cc0000;">
		<a href="https://www.myinterfase.com/smu/Account/LogOn?ReturnUrl=%2fsmu%2fstudent%2f" target="_blank"> Mustang Trak </a></span><br><br>

		<span style="font-size: 20px; color: #cc0000; font-weight: bold"> Job Search Links: </span>
			<li style="font-size: 15px"> <a href="http://www.indeed.com/" target="_blank"> Indeed.com </a></li>
			<li style="font-size: 15px"> <a href="http://www.careerbuilder.com/" target="_blank"> CareerBuilder.com </a></li>
			<li style="font-size: 15px"> <a href="http://www.engineerjobs.com/" target="_blank"> EngineerJobs.com </a></li>
			<li style="font-size: 15px"> <a href="http://www.simplyhired.com/" target="_blank"> SimplyHired.com </a></li>
			<li style="font-size: 15px"> <a href="http://www.monster.com/jobs/q-engineer-jobs.aspx" target="_blank"> Monster.com </a></li><br>

		<span style="font-size: 20px; color: #cc0000;">
		<a href="https://www.smu.edu/Lyle/Centers/HCELSignInPage" target="_blank"> Hart Center Sign-in Form </a></span><br><br>

	</div>

</div>



