<div>
	<div class="info-page" style="text-align: center; border: none">
		<span style="color:#966d5b; font-weight: bold; font-size: 30px"><i> Hello {{profileInfo.firstName}}!</i><br></span>
		<span style="color:#966d5b; font-weight: bold; font-size: 40px">
		Welcome to The Hart Center Portal</span><br>
		<img src="../styles/hartlogo.jpg" height="300px" width="400px"><br>
	</div>

	<div class="row" style="text-align: center; font-size: 20px; font-family: Tahoma, Geneva, sans-serif; font-weight: bold; width: 100%">

		<div class="col-sm-3">
			<a ng-click="assessment()" style="cursor: pointer;">
	    	My Assessments <br>
    		<img src="../styles/Assessments.png" height="150px" width="183px"> </a>
		</div>

		<div class="col-sm-3">
			<a ng-click="competencylib()" style="cursor: pointer;">
    		My Competency Library <br>
	    	<img src="../styles/Competencylibrary.png" height="150px" width="183px">
	    </div>

	    <div class="col-sm-3">
		<a ng-click="myactionplan()" style="cursor: pointer;">
		My Action Plan <br>
		<img src="../styles/Action plan.png" height="150px" width="183px">
            </div>

	    <div class="col-sm-3">
		<a ng-click="careerdev()" style="cursor: pointer;">
		My Career Development <br>
		<img src="../styles/Career development.png" height="150px" width="183px">
	    </div>

	</div>
</div>