<div ng-controller="AssessmentController as ctrl" ng-init="init()" style="font-family: Tahoma, Geneva, sans-serif">
    <br>
    <h1 style="text-align: center; font-weight: bold; color: #619f42"> Networking </h1><br>
    <div style="font-size: 24px; margin-left: 130px; border:1px solid #ddd; border-radius:1px; width: 80%; margin-left: 10%; margin-bottom: 4%; padding: 1%;">
        <div class="row">
            <div class="col-sm-3">
            <a href="https://smu.collegiatelink.net/" target="_blank"> Orgs@SMU </a> <br>
            <a href="https://www.smu.edu/Lyle/Centers/HartCenter/Events" target="_blank"> Hart Center Events </a>  <br>
            <a href="http://www.smustudentsenate.com/" target="_blank"> SMU Student Senate </a>
            </div>

            <div style="font-size: 24px">
            - To get involved with various campus organizations <br>
            - To get information on various events organized at Hart Center <br>
            - Learn about your campus leaders and their efforts to make school better <br><br>
            </div>
        </div>

        <div style="font-size: 24px; color: #cc0000; font-weight: bold"> Upcoming Networking Events <br><br>
            <a href="" target="_blank">
            <img data-ng-src="../../styles/event1.png" height="400px" width="280px" style="margin-left: 1%"> </a>
            <a href="" target="_blank">
            <img data-ng-src="../../styles/event2.jpg" height="300px" width="400px" style="margin-left: 1%"> </a>
            <a href="https://www.smu.edu/Lyle/Centers/HartCenter/Events/UpcomingEvents/SEJCRetreat032017" target="_blank">
            <img data-ng-src="../../styles/event3.jpg" height="400px" width="320px" style="margin-left: 1%"> </a>
        </div>

    </div>

</div>

